<!doctype html>
<html> 
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>

    <body>
       <h1>Hello! <%= ID %></h1> 
       <p> Tervetuloa: <%= ID %> pituus on <%= ID.length %></p>
       <p> Querystring value: <%= Qstr %> </p>
    </body>
</html>